.location {
    padding-top: 147px;
    padding-bottom: 69px;
    position: relative;
    z-index: 6;
    @media (max-width: $md3+px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &__title {
        margin-bottom: 62px;
        position: relative;
        z-index: 2;

        @media (max-width: $md3+px) {
            margin-bottom: 51px;
        }

        @media (min-width: 768px) {
            & .num {
                left: 24.5%;
                top: 71%;
            }
        }
    }

    &__map {
        height: 760px;
        background-color: #000;
        position: relative;
        z-index: 1;

        @media (max-width: $md2+px) {
            height: 560px;
        }
        @media (max-width: $md2+px) {
            height: 374px;
        }
    }
}
