.our-cars {
    position: relative;
    z-index: 2;
    padding-bottom: 150px;

    @media (max-width: $md3+px) {
        padding-bottom: 70px;
        padding-top: 70px;
    }

    &__title {
        margin-bottom: 106px;
    }

    &__subtitle {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-weight: bold;
        font-size: 25px;
        line-height: 31px;
        margin-bottom: 70px;

        @media (max-width: $md4+px) {
            font-size: 18px;
        }

        & a {
            color: #fff;
            display: inline-flex;
            align-items: center;
            position: relative;
            transition: all .3s ease;
          

            @media (min-width: 992px) {
                &:hover {
                    transform: scale(1.05);
                }
            }

            & span {
                position: relative;
                flex: 0 0 auto;
                margin-right: 28px;

                &:before {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    border-radius: 50%;
                    height: 30px;
                    width: 50px;
                    z-index: 1;
                    background-color: red;
                    box-shadow: 0 0 50px rgba(#fff, 1);

                    @media (max-width: $md4+px) {
                        height: 20px;
                        width: 30px;
                    }
                }
            }

            & img, & svg {
                position: relative;
                z-index: 2;
                display: block;
    
                width: 71px;
                height: auto;
             
     

                @media (max-width: $md4+px) {
                    width: 50px;
                    margin-right: 15px;
                }
            }

 

            &:after {
                content: '';
                height: 19px;
                width: 13px;
                display: block;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAxMyAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjc5MjU1IDIwLjIwMzFDMS40NDI1NiAyMC4yMDMxIDEuMDkwMjggMjAuMDg5MSAwLjgyMjY0MyAxOS44NjMxQzAuMjg3MzY0IDE5LjQxMTEgMC4yODczNjQgMTguNjc3MiAwLjgyMDM1NSAxOC4yMjUyTDkuOTEzMjMgMTAuNTQ1N0wwLjgyMDM1NiAyLjg2NjEzQzAuMjg3MzY1IDIuNDE0MTcgMC4yODczNjUgMS42ODAyMSAwLjgyMjY0NCAxLjIyODI0QzEuMzYwMjEgMC43NzQzNDMgMi4yMjcxOCAwLjc3NDM0MyAyLjc2NDc0IDEuMjI4MjRMMTIuMDM2IDkuMDU4NDRDMTIuOTEyMiA5LjkyMTgxIDEyLjkxMjIgMTEuMTY5NSAxMi4xMDcgMTEuOTY1M0wyLjc2NDc0IDE5Ljg2MzFDMi40OTcxIDIwLjA4OTEgMi4xNDI1NCAyMC4yMDMxIDEuNzkyNTUgMjAuMjAzMVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                transition: all .4s ease;
                margin-left: 23px;
                margin-top: 2px;

                @media (max-width: $md4+px) {
                   margin-left: 15px;
                   width: 9px;
                   height: 17px;
                }
            }

            @keyframes arrowAnim {
                0% {
                    opacity: 0;
                    transform: translateX(-50%) translateY(-10px);
                }
                100% {
                    opacity: 1;
                    transform: translateX(-50%) translateY(0px);
                }
            }

        }
    }

    &__list {
        margin: 0 -27px 150px;
        justify-content: center;

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }

        @media (max-width: 575.98px) {
            margin-bottom: 0;
        }

        & > li {
            padding: 0 27px;
            flex: 0 1 33.3333%;
            margin-bottom: 58px;

            @media (max-width: $md2+px) {
                flex: 0 1 50%;
                margin-bottom: 90px;
            }
        }
    }

    &__slider {
         margin-bottom: 100px;
        @media (min-width: 768px) {
            & .swiper-container {
                overflow: visible;
            }

            & .swiper-wrapper {
                flex-wrap: wrap;
                margin: 0 -27px 50px;
                justify-content: center;
            }

            & .swiper-slide {
                padding: 0 27px;
                flex: 0 1 33.3333%;
                flex: 0 1 50%;
                margin-bottom: 90px;
            }
        }

        @media (min-width: 992px) {
            & .swiper-slide {
                flex: 0 1 33.3333%;
                margin-bottom: 58px;
            }
        }

        @media (max-width: 575.98px) {
            margin-bottom: 50px;
        }

        @media (max-width: $md3+px) {
            margin-left: -30px;
            margin-right: -30px;

            & .swiper-slide {
                transition: all .4s ease;
                opacity: 0;

                &.swiper-slide-active {
                    opacity: 1;
                }
            }
        }
    }

    & .our-cars-contact {

    }
}

.car-card {
    &__img {
        padding-bottom: 68.07%;
        margin-bottom: 112px;

        @media (max-width: $md3+px) {
            margin-bottom: 101px;
            padding-bottom: 73.07%;
        }
    }

    & .subtitle {
        margin-bottom: 27px;

        @media (max-width: $md3+px) {
            margin-bottom: 12px;
            margin-left: 25px;
        }
    }

    &__title {
        @media (max-width: $md3+px) {
            margin-left: 25px;
        }
    }
}

.our-cars-contact {
    text-align: center;
    &__title {
        color: $mainColor;
        margin-bottom: 14px;
    }

    &__subtitle {
        color: $mainColor;
        margin-bottom: 38px;
    }

    &__links {
        @media (max-width: $md4+px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        & a {
            display: inline-flex;
            align-items: center;
            margin: 7px 0;
            color: $textColor;
            transition: all 0.3s ease;
            white-space: nowrap;
            font-size: 24.1634px;
            line-height: 1.1666em;
            font-weight: bold;

            @media (min-width: 992px) {
                &:hover {
                    color: $mainColor;
                }
            }
            & img {
                flex: 0 0 auto;
                margin-right: 8px;
                height: 24px;
                width: auto;
            }

            &:not(:last-child) {
                @media (min-width: 480px) {
                    margin-right: 49px;
                }
            }
        }
    }
}
