

//<ШРИФТЫ>===========================================================================================================
$mainFontFamily:  "Gilroy", sans-serif;
$titleFontFamily: 'DM Serif Display', serif;
//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: 1267.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$textColor: #fff;
$mainColor: #C4AA79;
$bg: #0B1D26;
$bg2: #618B9F; 
