@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ==== FONTS ===========================================================================================
@import "fonts";
// ==== // FONTS ===========================================================================================

// ==== VARS ===========================================================================================
@import "vars";
// ==== // VARS ===========================================================================================

// ==== Normalize ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

//<MIXINE>===============================================================================================
@import "mixins.scss";
//</MIXINE>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

//<FANCYBOX>===============================================================================================
//@import "plagins/fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== PLAGINS ===========================================================================================
@import "plagins/swiper-bundle";
@import "plagins/animate";
// ==== // PLAGINS ===========================================================================================

// ==== FORM STYLE DEFAULT ===========================================================================================
@import "forms";
// ==== FORM STYLE DEFAULT ===========================================================================================

// ==== POPUP ===========================================================================================
//@import "common/popup/popup";
// ==== // POPUP ===========================================================================================

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 10px;
	height: 100%;
}
html,
body {
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 1.8rem;
	transition: opacity 0.8s ease;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;
	background-color: $bg;

	&.lock {
		overflow: hidden;
	}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

._anim-items {
	&.zoomIn {
		transition: all 1s ease;
		opacity: 0;
		&._active {
			opacity: 1;
			animation: zoomIn2 2s ease forwards;
		}
	}

	&.zoomInUp {
		transition: all 1s ease;
		opacity: 0;
		&._active {
			opacity: 1;
			animation: zoomInUp2 2s ease forwards;
		}
	}

	&.zoomUp {
		transition: all 2s ease 0.5s;
		&._active {
			transform: scale(1.8);

			@media (max-width: $md3+px) {
				transform: scale(1.5);
			}
		}
	}
}

@keyframes zoomIn2 {
	from {
	  opacity: 0;
	  -webkit-transform: scale3d(0.3, 0.3, 0.3);
	  transform: scale3d(0.3, 0.3, 0.3);
	}
  
	50% {
	  opacity: 1;
	}
  }

  @keyframes zoomInUp2 {
	from {
	  opacity: 0;
	  -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
	  transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
	  -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
  
	60% {
	  opacity: 1;
	  -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
	  transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
	  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
  } 
  

.center {
	text-align: center;
}

._page {
	flex: 1 1 auto;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1680px;
	margin: 0 auto;
	padding: 0 110px;

	@media (max-width: $md1+px) {
		padding-left: 80px;
		padding-right: 80px;
	}
	@media (max-width: $md2+px) {
		padding-left: 50px;
		padding-right: 50px;
	}
	@media (max-width: $md3+px) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

// === title ========================================================================
.title-1 {
	margin-top: 0;
	margin-bottom: 0;
}
.title-2 {
	font-family: $titleFontFamily;
	font-weight: 400;
	font-size: 130px;
	line-height: 100%;
	text-align: center;
	text-transform: capitalize;
	position: relative;
	word-break: break-word;

	@media (max-width: $md3+px) {
		font-size: 80px;
	}

	&.mob-small {
		@media (max-width: 575.98px) {
			font-size: 58px;
			line-height: 69px;
		}
	}
}

.title-3 {
	font-size: 80px;
	line-height: 125%;
	font-family: $titleFontFamily;
	font-weight: 400;

	@media (max-width: $md3+px) {
		font-size: 53px;
		line-height: 113%;
	}
}

.title-4 {
	font-size: 64px;
	line-height: 1.375em;
	font-family: $titleFontFamily;
	font-weight: 400;

	@media (max-width: $md3+px) {
		font-size: 60px;
		line-height: 1em;
	}
}

.title-5 {
}
.title-6 {
}
.num {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-weight: bold;
	font-size: 567.915px;
	line-height: 1em;
	color: rgba(#fff, 0.1);
	z-index: -1;
	font-family: $mainFontFamily;

	@media (max-width: $md3+px) {
		font-size: 400px;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
	}
}
.suptitle {
}

.subtitle {
	display: flex;
	align-items: center;
	color: $mainColor;
	font-size: 18px;
	line-height: 1.2777em;
	letter-spacing: 0.3333em;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;

	&:before {
		content: "";
		width: 72px;
		height: 2px;
		background-color: $mainColor;
		flex: 0 0 auto;
		margin-right: 32px;

		@media (max-width: $md3+px) {
			width: 35px;
			margin-right: 13px;
		}
	}

	@media (max-width: $md3+px) {
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 4.5px;
	}

	& .num {
		font-size: 240px;
		left: -20px;
		top: 12%;

		@media (max-width: $md3+px) {
			left: 40px;
			top: 100%;
		}
	}
}
.swiper-lazy-preloader {
	border: 2px solid rgba(#fff, 0.4);

	border-right: 2px solid #fff;
}
.pagination-style {
	padding-bottom: 80px;

	@media (max-width: $md3+px) {
		padding-bottom: 55px;
	}
	& .swiper-pagination {
		bottom: 10px;
		display: flex;
		align-items: center;
		justify-content: center;

		&.swiper-pagination-lock {
			display: none;
		}

		& .swiper-pagination-bullet {
			flex: 1 1 auto;
			max-width: 49px;
			margin: 0 20px;
			background-color: $mainColor;
			opacity: 1;
			border-radius: 0;
			height: 1px;

			@media (max-width: $md3+px) {
				max-width: 35px;
				margin: 0 15px;
			}

			&.swiper-pagination-bullet-active {
				height: 3px;
			}
		}
	}
}
.text {
}
// === and title ========================================================================

// === btn ========================================================================
.btn-default {
}

button.btn-default {
}

// === and btn ========================================================================

.input {
}

.textarea {
}

.link {
}

// === TEXT CONTETN BLOCK ========================================================================
.text-content {
	font-weight: bold;
	font-size: 18px;
	line-height: 178%;

	& > *:last-child {
		margin-bottom: 0;
	}

	& h1 {
	}

	& h2 {
		font-size: 80px;
		line-height: 125%;
		font-family: $titleFontFamily;
		font-weight: 400;
		margin-bottom: 0.6em;
		word-break: break-word;
	
		@media (max-width: $md3+px) {
			font-size: 60px;
			line-height: 113%;
		}
	}
	& h3 {
		font-size: 64px;
		line-height: 1.375em;
		font-family: $titleFontFamily;
		font-weight: 400;
		margin-bottom: 0.6em;
	
		@media (max-width: $md3+px) {
			font-size: 54px;
			line-height: 1em;
		}
	}
	& h4 {
	}

	& h5 {
	}
	& h6 {
	}

	& p {
		margin-bottom: 1.6em;

		& ~ h2 {
			margin-top: 1.2em;
		}
		& ~ h3 {
			margin-top: 1.2em;
		}
	}

	& ul {
	}

	& ol {
	}

	& figure {
	}

	& a {
		transition: all .3s ease;
		text-decoration: underline;
		color: inherit;
		&:hover {
			color: $mainColor;
		}
	}
}
// === and TEXT CONTETN BLOCK ========================================================================

// ==== BLOCKS =====================================================
@import "../common/header/header";
@import "../common/footer/footer";
@import "../common/checkbox/checkbox";
@import "../common/promo/promo";
@import "../common/our-cars/our-cars";
@import "../common/our-promise/our-promise";
@import "../common/our-passion/our-passion";
@import "../common/slider/slider";
@import "../common/team/team";
@import "../common/location/location";
@import "../common/contact/contact";
@import "../common/side-social/side-social";
@import "../common/side-panel/side-panel";
// ==== BLOCKS =====================================================

// ==== PAGES =====================================================

// ==== HOME =====================================================
@import "pages/home";
@import "pages/impressum";
// ==== AND HOME =====================================================

// ==== AND PAGES =====================================================
