.footer {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

    &__body {
        min-height: 349px;
        padding-top: 100px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;


        @media (max-width: $md1+px) {
            flex-wrap: wrap;
        }   

        @media (max-width: $md2+px) {
            flex-direction: column;
        }

        @media (max-width: $md3+px) {
            padding-top: 30px;
            align-items: flex-start;
        }
    }

    &__logo {
        width: 100%;
        max-width: 176px;
        margin-right: 52px;
        
        @media (min-width: 992px) {
            transform: translateY(-10px);
        }

        @media (max-width: $md2+px) {
            margin-right: 0;
            margin-bottom: 32px;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__copy {
        margin-right: 30px;
        font-weight: 500;
        font-size: 18px;
        line-height: 178%;
        color: #618b9f;
        opacity: 0.5;

        @media (max-width: $md1+px) {
            flex: 0 1 100%;
            order: 1;
            text-align: center;
        }

        @media (max-width: $md3+px) {
            text-align: left;
        }
    }

    &__links {
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: $md2+px) {
            margin-left: 0;
            justify-content: center;
            margin-bottom: 18px;
        }

        @media (max-width: $md3+px) {
            flex-direction: column;
        }

        & > a {
            font-weight: 500;
            font-size: 18px;
            line-height: 178%;
            color: $textColor;
            transition: all .3s ease;
            
            @media (max-width: $md2+px) {
                margin-bottom: 5px;
            }

            &:not(:last-child) {
                margin-right: 39px;
            }

            @media (min-width: 992px) {
                &:hover {
                    color: $mainColor;
                }
            }
        }
    }
}
.container {
}
